<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CitasMedicas_ProgramaEscritorio.Properties.Settings.csPaciente"
            connectionString="server=localhost;user id=root;password=root;persistsecurityinfo=True;database=citas_medicas"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>